@use "../vars" as *;
@use "sass:math";

@mixin btn() {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: math.div($base-border-radius, 1);
  font-weight: bold;
  &:hover {
    scale: 1.025;
  }
  &:active {
    scale: 1;
  }
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn();
    background-color: $val;
  }
  .btn-outline-#{$key} {
    @include btn();
    background-color: transparent;
    border: $base-border-thickness * 2 solid $val;
    &:hover {
      background-color: $val;
    }
  }
}
