@use "../vars" as *;
@use "./functions";
@use "sass:math";

.inline-block {
  display: inline-block;
}

.display-flex-base {
  display: flex;
  flex-wrap: wrap;
}

.text-nowrap {
  white-space: nowrap;
}

//margins
.mb-sm {
  margin-bottom: $margin-sm;
}
.mb-md {
  margin-bottom: $base-margin;
}
.m-sm {
  margin: $margin-sm;
}

//paddings
.p-sm {
  padding: $padding-sm;
}
.p-xs {
  padding: $padding-xs;
}

//cursors
.cursor-pointer {
  cursor: pointer;
}
