@use "../vars" as *;
@use "./functions";
@use "sass:math";

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
    ),
    "padding-top": (
      "prefix": "pt",
      "values": (
        "0": 0,
        "1": $base-padding,
        "2": $base-padding * 2,
        "3": $base-padding * 4,
        "4": $base-padding * 6,
        "5": $base-padding * 8,
      ),
    ),
    "padding-bottom": (
      "prefix": "pb",
      "values": (
        "0": 0,
        "1": $base-padding,
        "2": $base-padding * 2,
        "3": $base-padding * 4,
        "4": $base-padding * 6,
        "5": $base-padding * 8,
      ),
    ),
  ),
);

@each $property, $map in $utilities {
  $prefix: map-get($map, $key: "prefix");
  $values: map-get($map, $key: "values");

  @each $key, $val in $values {
    @if ($key == "default") {
      .#{$prefix} {
        #{$property}: $val;
      }
    } @else {
      .#{$prefix}-#{$key} {
        #{$property}: $val;
      }
    }
  }
}

.inline-block {
  display: inline-block;
}

.display-flex-base {
  display: flex;
  flex-wrap: wrap;
}

.text-nowrap {
  white-space: nowrap;
}

//margins
.mb-sm {
  margin-bottom: $margin-sm;
}
.mb-md {
  margin-bottom: $base-margin;
}
.m-sm {
  margin: $margin-sm;
}

//paddings
.p-sm {
  padding: $padding-sm;
}
.p-xs {
  padding: $padding-xs;
}

//cursors
.cursor-pointer {
  cursor: pointer;
}
